/* header */
header {
    background-image: url(../images/office-336368_1920.jpg);
    width: 100%;
    height: 100%;
    padding-bottom: 400px;
}
.image {
    width: 100%;

}
.trail {
    width: 100%;
    height: 47px;
    background-color: #FD750E;
}
.trail-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-top: 15px;
}
.menu,
.header-main-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
}
.logo {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: bolder;
}
.nav-ul {
    display: flex;
    flex-wrap: wrap;
}
.nav-a {
    margin-left: 20px;
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.burger-icon {
    display: none;
}
.wrapper{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
a{
    color: #fff;
    padding: 7px 15px;
}
ul{
    padding: 20px 0;
    display: flex;
}
.header-main-block  {
    margin-top: 235px;
}
.withUs {
    max-width: 447px;
    width: 100%;
    height: 100px;
    font-size: 48px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.happyCust {
    max-width: 447px;
    width: 100%;
    height: 100px;
    font-size: 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 45px;
}
.signUp {
    font-size: 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.fname,
.phoneNumber {
    max-width: 371px;
    width: 100%;
    height: 44px;
    padding-left: 15px;
}
input {
    outline: none;
}
.submit {
    max-width: 371px;
    width: 100%;
    height: 44px;
    background-color: #FD750E;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
::placeholder {
    color: #C2C2C2;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

/* section */
section {
    width: 100%;
    height: 100%;
}
.whatWEDo {
    color: #95989A;
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    margin: auto;
    max-width: 299px;
    width: 100%;
    height: 67px;
    flex-wrap: wrap;
}
.image {
    width: 100%;
}
.sect-photo {
    max-width: 128px;
    width: 100%;
    height: 128px;
    margin: auto;
}
.sectP {
    max-width: 322px;
    width: 100%;
    height: 138px;
    color: #A19B9B;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin-top: 52px;
}
.section1-blocks,
.section2-blocks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
    align-items: center;
}
.section2 {
    background-color: #F7F5F5;
    width: 100%;
    height: 100%;
}
.phone {
    max-width: 271px;
    width: 100%;
    height: 312px;
}
.analytics {
    max-width: 128px;
    width: 100%;
    height: 128px;
}
.coins {
    max-width: 138px;
    width: 100%;
    height: 128px;
}
.sect2-p,
.sect3-h3 {
    max-width: 335px;
    width: 100%;
    height: 172px;
    color: #A19B9B;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
.explore {
    max-width: 240px;
    width: 100%;
    height: 54px;
    background-color: #FD750E;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 18px 55px;
    margin: 100px auto;
}
.sect3-blocks,
.section4-blocks,
.section5-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 113px;
}
.section4 {
    background-color: #F9F9F9;
}
.cupcoffee {
    max-width: 880px;
    width: 100%;
    height: 483px;  
}
.paragraph {
    max-width: 540px;
    width: 100%;
    height: 88px;
    color: #A19B9B;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
}
.photo-parag {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 66px;
}
.title1 {
    max-width: 326px;
    width: 100%;
    height: 58px;
    color: #95989A;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.title2 {
    max-width: 326px;
    width: 100%;
    height: 58px;
    color: #95989A;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.twitterFeed {
    color: #1DA1F2;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 16px;
}
span {
    color: rgba(33, 33, 36, 0.795);
}


/* footer */
.footer {
    background-color: #3D0D0D;
    width: 100%;
    height: auto;
    padding: 55px;
}
.footer-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.colorWhite {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}
.normal {
    color: #BCC1C4;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 12px;
}
.map {
    max-width: 373px;
    width: 100%;
    height: 266px;
    margin-top: 36px;
}
.realmap {
    width: 100%;
}
.line {
    max-width: 1475px;
    width: 100%;
    height: 1px;
    background-color: white;
}
.socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 250px;
    width: 100%;
    color: white;
}
.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}